In [11]:
import os
import pandas as pd

from datetime import datetime, timedelta
from dotenv import load_dotenv
 
from alpaca.data.requests import StockBarsRequest
from alpaca.data.historical.stock import StockHistoricalDataClient
from  alpaca.data.timeframe import TimeFrame, TimeFrameUnit

In [12]:
load_dotenv()

True

In [13]:
ALPACA_API_KEY = os.getenv("ALPACA_API_KEY")
ALPACA_SECRET_KEY = os.getenv("ALPACA_API_SECRET")

In [14]:
client = StockHistoricalDataClient(ALPACA_API_KEY, ALPACA_SECRET_KEY)

In [15]:
timeframe = TimeFrame(5, TimeFrameUnit.Minute)
symbol = 'TSLA'
start = datetime.utcnow() - timedelta(days=30)
end=datetime.utcnow() - timedelta(days=1)
request = StockBarsRequest(symbol_or_symbols=symbol, start=start, end=end, timeframe=timeframe)

In [16]:
bars_df = client.get_stock_bars(request).df.tz_convert('America/New_York', level=1)

In [17]:
display(bars_df.tail())

                                    open    high     low   close   volume  \
symbol timestamp
TSLA   2024-02-14 19:35:00-05:00  190.11  190.25  190.05  190.25  10956.0
       2024-02-14 19:40:00-05:00  190.21  190.28  190.10  190.21  10499.0
       2024-02-14 19:45:00-05:00  190.17  190.25  190.17  190.22  12958.0
       2024-02-14 19:50:00-05:00  190.25  190.38  190.25  190.38  17475.0
       2024-02-14 19:55:00-05:00  190.40  190.48  190.28  190.28  34163.0

                                  trade_count        vwap
symbol timestamp
TSLA   2024-02-14 19:35:00-05:00        322.0  190.149127
       2024-02-14 19:40:00-05:00        825.0  190.167741
       2024-02-14 19:45:00-05:00        472.0  190.228856
       2024-02-14 19:50:00-05:00        371.0  190.314200
       2024-02-14 19:55:00-05:00        512.0  190.412154